body {
  margin: 0;
  font-family: 'HK Grotesk';
} 

.ql-snow .ql-editor {
  font-family: 'HK Grotesk';
}

.ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.ql-toolbar {
  display: block;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.react-toggle--checked .react-toggle-track  {
  background: linear-gradient(92.58deg, #0DEFE1 0%, #78FF96 100%);
}

.react-toggle--checked .react-toggle-thumb  {
  left: 31px !important;
}

.react-toggle .react-toggle-track {
  background-color: transparent !important;
  border: 2px solid #2c2543;
  margin: 0 !important;
  height: 20px !important;
}

.react-toggle-thumb {
  background-color: #2c2543 !important;
  top: 4px !important;
  width: 16px !important;
  height: 16px !important;
}

.react-toggle:not(.react-toggle--checked) .react-toggle-thumb {
  left: 5px !important;
}